[Unit]
Description= $YOUR_NODE_NAME
After=network.target

[Service]
User= $USER
Type=simple
Restart=always
WorkingDirectory=/PATH/TO/sui-alert/
ExecStart=/usr/bin/python3 /PATH/TO/sui-alert/sui-sync-alert.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
